
    <div class="home__container">
        <app-card
            gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202307/0710/b44ff24284dbd48229a8537f3012dbeb30b6472d827eee32.png"
            gameLabel="DIGITAL"
            gameType="DIGITAL | PS4"
            gamePrice="R$ 129,99"
        >
        </app-card>
        <app-card
            gameCover="assets/bt-4.jpg"
            gameLabel="EXCLUSIVE"
            gameType="DISC | PS5"
            gamePrice="R$ 269,99"
        >
        </app-card>
        <app-card
            gameCover="https://image.api.playstation.com/cdn/UP0002/CUSA15240_00/iteYPVeiDDVwzYsnL9RZBCDhhkBTLSD8.png"
            gameLabel="BEST OF YEAR"
            gameType="DIGITAL | PS5"
            gamePrice="R$ 369,99"
            >
        </app-card>
        <app-card
            gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202106/0117/I558OkMNBieAq24dzWwjjE4K.png"
            gameLabel="NEW"
            gameType="DIGITAL | PS3 PS4 PS5"
            gamePrice="R$ 369,99"
        >
        </app-card>

        <app-card
        gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202011/0402/AcjaXqwZzggGiKLFdEfHMp0H.png"
        gameLabel="DIGITAL"
        gameType="DIGITAL | PS4"
        gamePrice="R$ 129,99"
    >
    </app-card>
    <app-card
        gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202108/0407/9kqn0uV61b9An1MZ31pQme18.png"
        gameLabel="EXCLUSIVE"
        gameType="DISC | PS5"
        gamePrice="R$ 269,99"
    >
    </app-card>
  

    
</div>

<footer>
    <p>PlayStation Store, um projeto Angular © 2023. Desenvolvido por <a href="https://www.linkedin.com/in/marcos-vinicius-nascimento-8ab1b2217?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B5kdzi4tmQxSewiuvAPy3sA%3D%3D">Marcos Nascimento</a> para fins estudantis.</p>
</footer>